<div class="container-fluid">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                控制台
                <small>概况</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> 控制台
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    {{#if success_msg}}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-check" aria-hidden="true"></i> {{success_msg}}
    </div>
    {{/if}} {{#if error_msg}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-close" aria-hidden="true"></i> {{error_msg}}
    </div>
    {{/if}} {{#if error}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-close" aria-hidden="true"></i> {{error}}
    </div>
    {{/if}}
    {{#if user.appkey}}{{else}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-close" aria-hidden="true"></i> 当前用户没有APP对接信息，请在“APP管理”中进行关联，或联系管理员。
    </div>
    {{/if}}
    <!-- /.alert -->


    <!-- Data Statics -->
    <div>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-quote-left fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><span id='dash-question'>0</span> 次</div>
                                <div>提问次数</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-rocket fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><span id='dash-peak'>0</span> 次／秒</div>
                                <div>提问峰值</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><span id='dash-users'>0</span> 人</div>
                                <div>用户数</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-comments fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><span id='dash-sessions'>0</span> 次</div>
                                <div>回话数</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-smile-o"></i> 累计满意度</h3>
                    </div>
                    <div class="panel-body">
                        <div class="progress">
                            <div id='dash-satisfaction' class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                aria-valuemax="100" style="width: 5%;">
                                0%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-check"></i> 问题解决率</h3>
                    </div>
                    <div class="panel-body">
                        <div class="progress">
                            <div id='dash-solved' class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                style="width: 5%;">
                                0%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-reply"></i> 知识库调用率</h3>
                    </div>
                    <div class="panel-body">
                        <div class="progress">
                            <div id='dash-k-base' class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                style="width: 5%;">
                                0%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-users"></i> 转人工率</h3>
                    </div>
                    <div class="panel-body">
                        <div class="progress">
                            <div id="dash-manual" class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                style="width: 5%;">
                                0%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-clock-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><span id='dash-question-time'>00.00</span> 秒</div>
                                <div>单次提问平均回复时间</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-clock-o fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><span id='dash-session-time'>0.00</span> 秒</div>
                                <div>平均会话时间</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div>

    <div style="display:none">
        <span id="appkey">{{user.appkey}}</span>
        <span id="appsecret">{{user.appsecret}}</span>
        <span id="username">{{user.username}}</span>
    </div>

</div>
</div>