<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                上传图片
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i> <a href="/">控制台</a>
                </li>
                <li class="active">
                    <i class="fa fa-fw fa-cubes" aria-hidden="true"></i> 上传图片
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Alert -->
    {{#if success_msg}}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-check" aria-hidden="true"></i> <span>{{success_msg}}</span>
    </div>
    {{/if}} {{#if error_msg}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-close" aria-hidden="true"></i> {{error_msg}}
    </div>
    {{/if}} {{#if error}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-close" aria-hidden="true"></i> {{error}}
    </div>
    {{/if}}
    <!-- /.alert -->

    <!-- /.row -->
    <div class="row">
        <form ref='uploadForm' action="/image/upload" method="POST" encType="multipart/form-data">
        <div class="form-group">
            <label class="col-sm-2 control-label">相册</label>
            <select class="form-control" name="album_name" id="album_name">
                {{#each user.albums}}<option value="{{this}}">{{this}}
                </option>{{/each}}
            </select>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">图片</label>
            <input class="form-control" type="file" name="picture" id="picture">
            <label class="checkbox-inline"></label>
        </div>
        <div class="form-group">
            <input type="checkbox" name="up_wechat" value="true" />上传到微信
        </div>
        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Upload">
        </div>
        </form>
    </div>
</div>