<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                登录
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-sign-in" aria-hidden="true"></i> 用户登录
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    {{#if success_msg}}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-check" aria-hidden="true"></i> {{success_msg}}
    </div>
    {{/if}} {{#if error_msg}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-info" aria-hidden="true"></i> {{error_msg}}
    </div>
    {{/if}} {{#if error}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-info" aria-hidden="true"></i> {{error}}
    </div>
    {{/if}} 
    {{#if errors}} {{#each errors}}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="fa fa-info" aria-hidden="true"></i> {{msg}}
    </div>
    {{/each}} {{/if}}
    <input type="hidden" value="{{img}}" id="temp_img">
    <form method="post" action="/users/login" role="form">
        <input type="hidden" name="s_url" value="{{s_url}}">
        <div class="form-group">
            <label for="username">用户名</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">密码</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="vcode_parent">验证码</label>
            <div  id="vcode_parent" style="display: flex;align-items:center;justify-content:flex-start;flex-wrap:wrap;">
                <div class="col-md-2" style="padding-left:0px;min-width:150px;">
                    <input type="text" class="form-control" id="vcode" name="vcode" placeholder="Vcode">
                </div>
                <div class="col-md-4" style="display: flex;align-items: center;padding-left:0px;" id="vcode_container">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default clearfix" id="btn_submit">Submit</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">忘记密码？</button>
        <!-- 模态框 -->
        <div class="modal fade" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                <!-- 模态框头部 -->
                <div class="modal-header">
                    <h4 class="modal-title">密码重置</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <!-- 模态框主体 -->
                <div class="modal-body">
                    需重置密码的账号:<input id="resetPwd"/><button type="button" class="btn btn-primary" onclick=resetPwd_user()>重置</button>
                    <br/><span id="pwd_span"></span>
                </div>
                <!-- 模态框底部 -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                </div>
                </div>
            </div>
        </div>
    </form>
</div>
{{!-- <script>
    function resetPwd_user(){
        var username = $("#resetPwd").val();
        $.ajax({
            url: '/admin/manage/api/reset',
            type: 'GET',
            data: {
                "username": username
            },
            success: function(data){
                alert("密码已发送到您的邮箱，请注意查收！"+data.pwd);
            },
            error: function () {
                alert("重置失败！！！");
            }
        });
    }
</script> --}}